name: CI
on: pull_request
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Setup Node
        uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version: 16.x
      - name: Node Logging
        run: node -v ; npm -v ; nvm -v
      - name: Install Dependencies
        run: npm i
      - name: Run Linter and Tests
        run: npm test
      - name: Bundle
        run: npm run bundle-host
